{% extends 'base.html.twig' %}

{% form_theme form "form_table_layout.html.twig" %}

{% block body_id 'registration' %}

{% block main %}
    <h1>Registration</h1>
    {{ form(form) }}
{% endblock %}
